# Align Workshop 2- R and Linear Regression

## Introduction to R

### Basic Assignment

Just like in Python and other programming languages, R allows you to assign values to variables in the following notation. This allows us to store values for later use.

In [2]:
x <- 3
4 -> y

In [3]:
x

[1] 3

In [4]:
y

[1] 4

In [5]:
z -> 150.5

ERROR: Error in 150.5 <- z: invalid (do_set) left-hand side to assignment

In [8]:
new_var <- x + y + 3
new_var

[1] 10

In [ ]:
#Play around in here with assignment

### Vectors

To store a collection of objects, R uses 'vectors'. The easiest way to create a vector is with the c() function that concatenates objects together.

In [42]:
c(3,4,5.6,8444)

[1]    3.0    4.0    5.6 8444.0

In [43]:
x<- c(3,4,5.6,8444)

In [44]:
x

[1]    3.0    4.0    5.6 8444.0

In [45]:
c()

NULL

In [46]:
x[1]

[1] 3

In [47]:
x[1:5]

[1]    3.0    4.0    5.6 8444.0     NA

In [48]:
x[5] <- 1

In [49]:
x

[1]    3.0    4.0    5.6 8444.0    1.0

In [50]:
x[8] <- 3

In [51]:
x

[1]    3.0    4.0    5.6 8444.0    1.0     NA     NA    3.0

In [52]:
x[0] <- 2

In [53]:
x

[1]    3.0    4.0    5.6 8444.0    1.0     NA     NA    3.0

In [54]:
z <-c(4,5)

In [55]:
z

[1] 4 5

In [56]:
y <- x + z

In [58]:
y

[1]    7.0    9.0    9.6 8449.0    5.0     NA     NA    8.0

In [59]:
mult <- y * 2

In [60]:
mult

[1]    14.0    18.0    19.2 16898.0    10.0      NA      NA    16.0

In [61]:
combine <- c(1,3, x, y, z)

In [62]:
combine

 [1]    1.0    3.0    3.0    4.0    5.6 8444.0    1.0     NA     NA    3.0
[11]    7.0    9.0    9.6 8449.0    5.0     NA     NA    8.0    4.0    5.0

In [66]:
c(1, 2, 3, 4) + c(0, 10, 100)

Warning message in c(1, 2, 3, 4) + c(0, 10, 100):
“longer object length is not a multiple of shorter object length”

[1]   1  12 103   4

### Useful Functions in R

In [8]:
x <- c(1,2,3,4)

In [9]:
length(x)

[1] 4

In [10]:
mean(x)

[1] 2.5

In [11]:
var(x)

[1] 1.666667

## Linear Regression!

In [17]:
#Do NOT edit this box. Just hit shift-enter
galton <- read.csv(file="galton.csv",head=TRUE,sep=",")

In [15]:
galton

    Family Father Mother Gender Height Kids
1        1   78.5     67      M   73.2    4
2        1   78.5     67      F   69.2    4
3        1   78.5     67      F     69    4
4        1   78.5     67      F     69    4
5        2   75.5   66.5      M   73.5    4
6        2   75.5   66.5      M   72.5    4
7        2   75.5   66.5      F   65.5    4
8        2   75.5   66.5      F   65.5    4
9        3     75     64      M     71    2
10       3     75     64      F     68    2
11       4     75     64      M   70.5    5
12       4     75     64      M   68.5    5
13       4     75     64      F     67    5
14       4     75     64      F   64.5    5
15       4     75     64      F     63    5
16       5     75   58.5      M     72    6
17       5     75   58.5      M     69    6
18       5     75   58.5      M     68    6
19       5     75   58.5      F   66.5    6
20       5     75   58.5      F   62.5    6
21       5     75   58.5      F   62.5    6
22       6     74     68      F   69.5    1
23       7     74     68      M   76.5    6
24       7     74     68      M     74    6
25       7     74     68      M     73    6
26       7     74     68      M     73    6
27       7     74     68      F   70.5    6
28       7     74     68      F     64    6
29       8     74   66.5      F   70.5    3
30       8     74   66.5      F     68    3
⋮        ⋮      ⋮      ⋮      ⋮      ⋮    ⋮
869    198     64     64      M   71.5    7
870    198     64     64      M     68    7
871    198     64     64      F   65.5    7
872    198     64     64      F     64    7
873    198     64     64      F     62    7
874    198     64     64      F     62    7
875    198     64     64      F     61    7
876    199     64     64      M   70.5    7
877    199     64     64      M     68    7
878    199     64     64      F     67    7
879    199     64     64      F     65    7
880    199     64     64      F     64    7
881    199     64     64      F     64    7
882    199     64     64      F     60    7
883    200     64     63      M   64.5    1
884    201     64     60      M     66    2
885    201     64     60      F     60    2
886    203     62     66      M     64    3
887    203     62     66      F     62    3
888    203     62     66      F     61    3
889    204   62.5     63      M   66.5    2
890    204   62.5     63      F     57    2
891   136A   68.5     65      M     72    8
892   136A   68.5     65      M   70.5    8
893   136A   68.5     65      M   68.7    8
894   136A   68.5     65      M   68.5    8
895   136A   68.5     65      M   67.7    8
896   136A   68.5     65      F     64    8
897   136A   68.5     65      F   63.5    8
898   136A   68.5     65      F     63    8

In [16]:
summary(galton)

     Family        Father          Mother      Gender      Height
 185    : 15   Min.   :62.00   Min.   :58.00   F:433   Min.   :56.00
 166    : 11   1st Qu.:68.00   1st Qu.:63.00   M:465   1st Qu.:64.00
 66     : 11   Median :69.00   Median :64.00           Median :66.50
 130    : 10   Mean   :69.23   Mean   :64.08           Mean   :66.76
 136    : 10   3rd Qu.:71.00   3rd Qu.:65.50           3rd Qu.:69.70
 140    : 10   Max.   :78.50   Max.   :70.50           Max.   :79.00
 (Other):831
      Kids
 Min.   : 1.000
 1st Qu.: 4.000
 Median : 6.000
 Mean   : 6.136
 3rd Qu.: 8.000
 Max.   :15.000

Let us calculate the linear regression for this data set! We will relate the Mother's height ('Mother' in the table) to the child's height ('Height' in the table). But how do we access the data just in these columns?

In [30]:
summary(galton$Mother)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  58.00   63.00   64.00   64.08   65.50   70.50

R uses the '$' syntax to access a specific column's data from the data set.

In [33]:
M_heights <- galton$Mother
C_heights <- galton$Height

In [36]:
lm(Height ~ Mother, galton)

Call:
lm(formula = Height ~ Mother, data = galton)

Coefficients:
(Intercept)       Mother
    46.6908       0.3132