# Align Workshop 2- R and Linear Regression

## Introduction to R

### Basic Assignment

Just like in Python and other programming languages, R allows you to assign values to variables in the following notation. This allows us to store values for later use.

In [2]:
x <- 3
4 -> y

In [3]:
x

[1] 3

In [4]:
y

[1] 4

In [5]:
z -> 150.5

ERROR: Error in 150.5 <- z: invalid (do_set) left-hand side to assignment

In [8]:
new_var <- x + y + 3
new_var

[1] 10

In [ ]:
#Play around in here with assignment

### Vectors

To store a collection of objects, R uses 'vectors'. The easiest way to create a vector is with the c() function that concatenates objects together.

In [42]:
c(3,4,5.6,8444)

[1]    3.0    4.0    5.6 8444.0

In [43]:
x<- c(3,4,5.6,8444)

In [44]:
x

[1]    3.0    4.0    5.6 8444.0

In [45]:
c()

NULL

In [46]:
x[1]

[1] 3

In [47]:
x[1:5]

[1]    3.0    4.0    5.6 8444.0     NA

In [48]:
x[5] <- 1

In [49]:
x

[1]    3.0    4.0    5.6 8444.0    1.0

In [50]:
x[8] <- 3

In [51]:
x

[1]    3.0    4.0    5.6 8444.0    1.0     NA     NA    3.0

In [52]:
x[0] <- 2

In [53]:
x

[1]    3.0    4.0    5.6 8444.0    1.0     NA     NA    3.0

In [54]:
z <-c(4,5)

In [55]:
z

[1] 4 5

In [56]:
y <- x + z

In [58]:
y

[1]    7.0    9.0    9.6 8449.0    5.0     NA     NA    8.0

In [59]:
mult <- y * 2

In [60]:
mult

[1]    14.0    18.0    19.2 16898.0    10.0      NA      NA    16.0

In [61]:
combine <- c(1,3, x, y, z)

In [62]:
combine

 [1]    1.0    3.0    3.0    4.0    5.6 8444.0    1.0     NA     NA    3.0
[11]    7.0    9.0    9.6 8449.0    5.0     NA     NA    8.0    4.0    5.0

In [65]:
length(x)

[1] 8

In [66]:
c(1, 2, 3, 4) + c(0, 10, 100)

Warning message in c(1, 2, 3, 4) + c(0, 10, 100):
“longer object length is not a multiple of shorter object length”

[1]   1  12 103   4